<launch>

    <arg name="project" default="ndt_imu_localization"/>
    
    <!--- Run Localization-->
    <node pkg="$(arg project)" type="$(arg project)_node"   name="$(arg project)_node"    output="screen" 	respawn="true"/>

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="$(arg project)_rviz" args="-d $(find ndt_imu_localization)/launch/include/config/rviz.rviz" />


</launch>
