<launch>

    <arg name="project" default="g2o_back_end"/>

    <param name="bag_path"       type="string" value="/code/lidar-gnss-odoe.bag" />
    <param name="lidar_topic"    type="string" value="/carla/ego_vehicle/lidar" />
    <param name="pose_topic"     type="string" value="/Odometry" />
    <param name="gnss_topic"     type="string" value="/carla/ego_vehicle/gnss" />


    <!--- Run mapping-->
    <!-- <node pkg="$(arg project)" type="$(arg project)_node"   name="$(arg project)_node"    output="screen" 	respawn="false" launch-prefix="xterm -e gdb -ex run "/> -->
    <node pkg="$(arg project)" type="$(arg project)_node"   name="$(arg project)_node"    output="screen" 	respawn="false"/>



</launch>
