<launch>
    <!-- <param name="pcd_file_name1" type="string" value="/home/mrk/remote-code/maps/430_O.pcd" />
    <param name="pcd_file_name2" type="string" value="/home/mrk/remote-code/maps/437_O.pcd" /> -->
    <param name="pcd_file_name1" type="string" value="/home/mrk/remote-code/maps/8_O.pcd" />
    <param name="pcd_file_name2" type="string" value="/home/mrk/remote-code/maps/10_O.pcd" />
    <param name="x" type="double" value="0" />
    <param name="y" type="double" value="0" />
    <param name="z" type="double" value="0" />
    <!-- theta in degree -->
    <param name="theta" type="double" value="0" />  

    <node pkg="functionTest" type="icp_test" name="icp_test" output="screen" />
    <node pkg="rviz" type="rviz" name="icp_test_rviz" args="-d $(find functionTest)/rviz/icp_test.rviz" />

</launch>