<launch>
    <param name="pcd_file_name" type="string" value="/home/mrk/Experiment/town02-0407/pointcloud.pcd" />
    <param name="x" type="double" value="10" />
    <param name="y" type="double" value="10" />
    <param name="z" type="double" value="10" />
    <!-- theta in degree -->
    <param name="theta" type="double" value="30" />  

    <node pkg="functionTest" type="icp_test" name="icp_test" output="screen" />

</launch>